.list-page {
  width: 100%;
  margin: 0 0 20px;
  .navbar {
    background-color: #fbfbfb;
    color: rgb(90, 90, 90);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 1px #353535;
    h3 {
      margin: 0;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
  }
  .container {
    .page-bottom {
      border: 1px solid transparent;
    }
  }
}
.loader {
  width: 100%;
  display: grid;
  justify-content: center;
  h3 {
    padding-top: 10px;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .list-page {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
  }
}
